@page "/"
@inject ApiService Api
@using System.Globalization

<PageTitle>Home</PageTitle>

<div>
    <div>
        <input type="text" @bind="ip" placeholder="IP Address" />
        <input type="text" style="width: 5rem;" @bind="port" placeholder="Port" />
        <button @onclick="Connect">Connect</button>
    </div>

    @if (!String.IsNullOrEmpty(connectionErrorStr))
    {
        <p style="color: red;">@connectionErrorStr</p>
    }
</div>

@*
     Quickgrid containing information of nodes in the network
*@

@code {
    private string? ip = null;
    private string? port = null;
    private string? connectionErrorStr = null;

    private void Connect()
    {
        CultureInfo ci = new CultureInfo("en-US");

        if (String.IsNullOrEmpty(ip) || String.IsNullOrEmpty(port)) {
            connectionErrorStr = "Unable to conenct to given ip/port.";
        } else if (!ip.StartsWith("https://", false, ci) || !ip.StartsWith("http://", false, ci)) {
            connectionErrorStr = "Ip must start with \"http://\" or \"https://\"";
        } else {
            connectionErrorStr = null;
            Api.initialize(ip + ":" + port);
        }
    }
}
